<h1>Browse Islands</h1>


<ul>
  <% @islands.each do |island| %>
    <li><%= island.name %></li>
    <li><%= island.price%></li>
    <li><%= island.capacity %></li>
    <li><%= island.location %></li>
  <% end %>
</ul>
