<h1>Browse Islands</h1>



  <% @islands.each do |island| %>
    <ul>
      <li><%= island.name %></li>
      <li><%= island.price_per_night %></li>
      <li><%= island.capacity %></li>
      <li><%= island.location %></li>
    </ul>
  <% end %>
