<div class="d-flex navbar-simple-container">
  <div class="element1">
    <%= link_to islands_path do %>
      <%= image_tag "Logo.png", alt: "logo-skybnb", width: 200 %>
    <% end %>
  </div>
    <div class="profile_navbar">
      <%= link_to dashboard_path do %>
      <i class="fas fa-user"></i>
      <% end %>
    </div>
</div>
