<div class="d-flex navbar1-container">
  <div class="element1">
    <%= link_to islands_path do %>
      <%= image_tag "Logo.png", alt: "logo-skybnb", width: 200 %>
    <% end %>
  </div>

  <div class="reservation_navbar">
    <div>
      <p class="label-navbar">Destination</p>
      <p class="question-navbar">Où ?</p>
    </div>
    <div>
      <p class="label-navbar">Arrivée</p>
      <p class="question-navbar">Quand ? </p>
    </div>
    <div>
      <p class="label-navbar">Départ</p>
      <p class="question-navbar">Quand ?</p>
    </div>
    <div>
      <p class="label-navbar">Voyageurs</p>
      <p class="question-navbar">Combien ?</p>
    </div>
    <div class="icon_navbar">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>

    <div class="profile_navbar">
      <i class="fas fa-user"></i>
    </div>
</div>
