/* styles.css */
.container{
  min-height: 100vh;
}

body {
  font-family: Arial, sans-serif;
}

.footer > img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}
.footer {
  background-color: #5f94d8;
  color: #fff;
  padding: 20px 0;
  margin-top: 50px;

}

.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin:0 auto;
  padding: 0 30px;
  padding-block:20px;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
}

.footer-section h3 {
  font-size: 25px;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}
