.navbar1-container{
  padding-inline: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  border-bottom: solid #d6d6d6 0.5px;
  height: 120px;
  width: 100%;
  margin-bottom: 40px;
}


.navbar-simple-container{
  padding-inline: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  border-bottom: solid #d6d6d6 0.5px;
  height: 120px;
  width: 100%;
  margin-bottom: 40px;
}

.reservation_navbar{
  display: flex;
  align-items: center;
  padding-inline: 20px;
  padding-block: 10px;
  gap:50px;
  border-radius: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.label-navbar{
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.question-navbar{
  margin:0;
}

.icon_navbar{
  color:#FFFFFF;
  background-color: #F66576;
  padding:10px;
  padding-inline:15px;
  border-radius: 50px;
}
.profile_navbar{
  color:#FFFFFF;
  background-color: #5F94D8;
  padding:10px;
  padding-inline:15px;
  border-radius: 50px;
}

.profile_navbar a{
  text-decoration: none;
  color:#FFFFFF;
}

.right-element{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-navbar{
  border: solid #dadada 1px;
  background-color: #FFFFFF;
  box-shadow: none !important;
  height:30px;
}

.fa-magnifying-glass{
  padding-inline:-6px;
  color: white;
}

.icon{
  background: none; /* Enlever le fond gris */
  border: none; /* Enlever la bordure par défaut */ /* Ajouter un peu de padding pour l'icône */
  font-size: 20px; /* Taille de l'icône */
  cursor: pointer; /* Change le curseur pour indiquer que c'est cliquable */
  outline: none;
}

.input-navbar:valid,
.input-navbar:invalid {
  box-shadow: none !important; /* Supprime tout effet de bordure ou de shadow */
}
