.col-md-4{
display: flex;
border: 1px solid #9b9ea2;
margin-bottom: 100px;
justify-content: space-evenly;
flex-direction: column;
border-radius: 20px;
text-align: center;
box-shadow:  0 4px 8px rgba(0,0,0,0.1);
padding-inline: 20px;
}

.nights{
text-align: left;

}
